{% extends "navbar.html" %}
{% block style %}
    <link href="/static/css/info-card.css?v=31" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">

            <div class="card-front">
                <figure>
                    <div class="img-bg"></div>
                    <img class="img-card-front" src="{{ image_url }}" alt="{{ name }}">
                    <figcaption>{{ name }}</figcaption>
                </figure>
                <ul class="card-ul">
                    <li class="card-li">Maximum Rating: {{ max }}</li>
                    <li class="card-li">Minimum Rating: {{ min }}</li>
                    <li class="card-li">Average Rating: {{ avg }}</li>
                    <li class="card-li">Trend: {{ trend }}</li>
                    <li class="card-li">PS: {{ message }}</li>
                </ul>
            </div>

            <div class="card-back">
                <figure>
                    <div class="img-bg"></div>
                    <img class="img-card-back" src="{{ image_url }}" alt="{{ name }}">
                    <figcaption>{{ name }}</figcaption>
                </figure>

                <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                </div>
            </div>

        </div>
    </div>

{% endblock %}