<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recommovie</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/shop-homepage.css" rel="stylesheet"/>
    <link href="/css/typeahead.css" rel="stylesheet"/>
    <link href="/css/base.css?v=1" rel="stylesheet"/>

    {% block style %}{% endblock %}
</head>

<body>
{% block navbar %}{% endblock %}
{% block content %}{% endblock %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Egemen Zeytinci</p>
    </div>
</footer>

<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/typeahead.min.js"></script>
<script src="/js/bloodhound.min.js"></script>
{% block script %}{% endblock %}
</body>