{% extends "navbar.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card mt-4 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="page-header">Recommended movies for</span>
                                <span class="source-movie">{{ original }}</span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            {% for row in items %}
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="card h-100">
                                        <a href="#"><img class="card-img-top" src={{ row.image_url }} alt=""></a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="/recommendations/{{ row.title_id }}">
                                                    {{ row.original_title }}
                                                </a>
                                            </h4>
                                            <h5>{{ row.year }}</h5>
                                            <p class="card-text">{{ row.description[0: 100].capitalize() }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <a class="image-url" href="https://www.imdb.com/title/{{ row.title_id }}/">
                                                <img class="imdb" src="/img/imdb.png">
                                            </a>
                                            <span class="ml-1">{{ row.average_rating }}</span>
                                            {% if flag %}
                                                <span style="float: right; font-size:15px;">
                                                    <a href="/infocard/{{ row.title_id }}" target="_blank">
                                                        infocard &#187;
                                                    </a>
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
